
@media screen and  (max-width: 1000px){ /* Mobile */


    .largeScreenList {

        display: none;
    }

    .button-container{
        display: none;
    }

    .intro-container{
        background-image: url(/easybank-landing-page-master/images/bg-intro-mobile.svg);
        background-repeat: no-repeat;

    }

    .mobile-nav-container{

        display:flex ;
        justify-content: space-between;
    }

    .mobile-nav-container .burgerIconContainer{

        margin-top: 20px;
    }

    .whychoose-container{

        width: 100%;
    }

    .chooseContainer{

        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .online-container,
    .budgeting-container,
    .fast-container,
    .api-container{

        width: 50%;
        margin-right:auto;
        margin-left:auto;
        text-align: center;
        margin-top: 20px;
    }


    footer{

        text-align: center;
    }



}


@media screen and (min-width : 1020px) {
    

    .burgerIconContainer{

        display: none;
      


    }

}