
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {

    --universal-font: 'Work Sans', sans-serif;
}

body {

    overflow-x: hidden;
    background-color: whitesmoke;

}

* { 

    margin: 0;
    padding: 0;
}
/* Navbar starts */

.navbar-container {

    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 1;

}

.logo-container {

    margin-top: 20px;
    margin-left: 50px;
}

.navlist-container {

    margin-top: 20px;

}
.navlist-container ul li{

    display: inline;
    margin-left: 35px;
    font-family: var(--universal-font);
    opacity: 0.6;
    cursor: pointer;

}

.navlist-container ul li:hover {

    opacity: 0.4;
}

.button-container {

    margin-top: 10px;
    margin-left: 40px;
}

.button-container button {

    width: 140px;
    height: 40px;
    border-radius: 40px;
    border-style: hidden;
    font-family: var(--universal-font);
    background-image: linear-gradient(to right, rgb(121, 250, 121), rgb(13, 207, 214));
    color:#fff;
    font-weight: bold;
    cursor: pointer;

}


.burgerBar{


    width: 90%;
    background-color: #fff;
    font-family: var(--universal-font);
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    display: none;
}

#burgerIcon{

    cursor: pointer;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.699);
    
}

 #burgerIcon:hover{

    opacity: 0.5;
    transform: scale(1.3);
}
.burgerBar ul li{

    margin-left: auto;
    margin-left: auto;
     list-style-type: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;

}

.burgerBar ul li:hover{

    opacity: 0.6;
}


#closeNavBar{

    position: absolute;
    right: 60px;
    top: 120px;
    cursor: pointer;
    font-size: 1rem;
}

#closeNavBar:hover{

    color: rgb(13, 207, 214);
    transform: scale(1.1);

}




/* navbar end */

/* intro starts */

.intro-container {
    
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 500px bottom ;
    background-color: rgba(255, 255, 255, 0.74);
    height: fit-content;

}


.nextgeneration-container {

    margin-top: 170px;
    margin-left: 60px;
    font-family: var(--universal-font);
    text-align: justify;

}

.nextgeneration-container h1  {

    font-size: 50px;
    font-weight: lighter;
}

.nextgeneration-container p {

    padding-top: 20px;
    opacity: 0.6;
    font-size: 1.2rem;

}

.nextgeneration-container button {

    width: 140px;
    height: 40px;
    border-radius: 40px;
    border-style: hidden;
    font-family: var(--universal-font);
    background-image: linear-gradient(to right, rgb(121, 250, 121), rgb(13, 207, 214));
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;

}

/* intro ends */

.whychoose-container { /* Features */

    background-color: rgba(235, 235, 235, 0.986);
    font-family: var(--universal-font);
    padding-top: 100px;
    height: auto;
    padding-bottom: 50px;

    
}

.whychoose-container h2 {

    font-size: 1.7rem;
    line-height: 1.5rem;
}

.whychoose-container p {

    opacity: 0.6;
    padding-top: 20px;
}

.features {

    text-align: justify;
    padding-top: 60px;

} /*features end*/

/* article starts */

.ultimate-articles-container {

    width: 100%;
    font-family: var(--universal-font);
    padding-top: 50px;
    background-color: whitesmoke;
    height: 30%;
    
}

.ultimate-articles-container p{ 

    text-align: justify;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 0.9rem;
}

.ultimate-articles-container h3{

    margin-top: 10px;
    padding-left: 10px;
    font-size: 1rem;

}



.ultimate-articles-container span {

opacity: 0.6;
font-size: 0.8rem;
margin-top: 10px;
padding-left: 10px;

}

.currency-article-container,
.restaurant-article-container,
.plane-article-container,
.conffeti-article-container{

   
   width: 100%;
   border-radius: 10px;
   background-color: #fff;
   height: 400px;
   cursor: pointer;

}


.currency-article-container:hover,
.restaurant-article-container:hover,
.plane-article-container:hover,
.conffeti-article-container:hover{

    transform: scale(1.1);
}

.conffeti-article-container img{
    width: 100%;
    padding-top: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.currency-article-container img{
    width: 100%;
    padding-top: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.restaurant-article-container img{

    width: 100%;
    padding-top: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.plane-article-container img{
    width: 100%;
    padding-top: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.latestArticlesContainer{

    margin-bottom: 30px;
}
/*article ends */

/*footer starts */
footer{

    background-color:  #2d304f;
    width: 100%;
    font-family: var(--universal-font);
    height: 5%;
    margin-top: 100px
}

footer ul li {

    list-style: none;
    padding-left: 10px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;

    
}

.footer-ultimate-container {
    padding-top: 100px;
    padding-left: 50px;
   
}

.footer-ultimate-container p {

    color:#fff;
}

.logo-icons-container,
.list1-container,
.list2-container,
.copyrights-container{

    padding-bottom: 50px;
}

.attribution{
    text-align: center;
}

.footer-button-container button {

    width: 140px;
    height: 40px;
    border-radius: 40px;
    border-style: hidden;
    font-family: var(--universal-font);
    background-image: linear-gradient(to right, rgb(121, 250, 121), rgb(13, 207, 214));
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    }

    #logo-footer{
        padding-bottom: 30px;
        color: #fff;
    }

    .attribution{

        color: #fff;
    }

    .attribution a{
        text-decoration: none;
        color: #fff;
    }